.grid {
  margin: 0 auto;
  white-space: nowrap;
  border-style: dashed;
  border-color: rgba(111, 111, 111, 0);
}

.grid-on-moving {
  border-style: dotted;
  border-color: rgba(111, 111, 111, 1);
}
