.header {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
}

h1 {
  color: white;
  margin: 0;
  margin-left: 40px;
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
}
