.menu {
  display: flex;
  margin: 20px;
  justify-content: center;
  gap: 20px;
}

.menu button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.reset-btn {
  background-color: #d7b746;
  color: #302604;
}

.reset-btn:hover {
  background-color: #b9971e;
}

.clear-btn {
  background-color: #d7b746;
  color: #302604;
}

.clear-btn:hover {
  background-color: #b9971e;
}

.run-btn {
  background-color: #50ad4e;
  color: #032e02;
}

.run-btn:hover {
  background-color: #238d21;
}

.help-btn {
  background-color: #b94f4f;
  color: #410404;
}

.help-btn:hover {
  background-color: #9f2525;
}

.menu select {
}
