.menu {
  display: flex;
  margin: 20px;
  justify-content: center;
  gap: 20px;
}

.menu button {
  padding: 16px 24px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  color: #06310f;

  background: linear-gradient(180deg, #509760 0%, #216830 100%);
  box-shadow: 0 2px 2px -1px rgba(33, 104, 48, 0.5);
  font-size: 1rem;
}

.menu select {
  padding: 16px 32px;
  border-radius: 4px;
}
