.node {
  height: 24px;
  width: 24px;
  margin: 1px 2px;
  background-color: #d9d9d9;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0 2px 3px -2px rgba(169, 169, 169, 0.5);
}

.node:hover {
  background-color: #d0d0d0;
}

.start {
  background: url("../public/start.svg");
  background-size: cover;
}

.start:hover {
  cursor: grab;
}

.finish {
  background: url("../public/finish.svg");
  background-size: cover;
}

.finish:hover {
  cursor: grab;
}

.wall {
  /* background: radial-gradient(50% 50% at 50% 50%, #9e36f0 0%, #8e1fe6 100%); */
  animation-name: fallingAnimation;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes fallingAnimation {
  0% {
    transform: scale(1.1);
    opacity: 0.7;
    box-shadow: 0px 2px 2px 0 black;
    background: linear-gradient(180deg, #415674 0%, #11243f 100%);
  }

  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    /* box-shadow: 0px 1px 3px 0 black; */
    background: linear-gradient(180deg, #415674 0%, #11243f 100%);
  }
}

.wall:hover {
  background-color: #181d31;
}

.node-visited {
  animation-name: node-visited;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes node-visited {
  0% {
    background-color: #ca359a;
    border-radius: 100%;
    transform: scale(0.1);
  }
  50% {
    background-color: #359aca;
  }

  75% {
    border-radius: 4px;
    transform: scale(1.02);
    box-shadow: 0px 2px 4px 0 black;
  }

  100% {
    background: linear-gradient(180deg, #e9dd16 0%, #c7bb00 100%);
    transform: scale(1);
  }
}
.node-result {
  animation-name: node-result;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes node-result {
  0% {
    background-color: black;
    border-radius: 100%;
    transform: scale(0.1);
  }

  100% {
    background: linear-gradient(180deg, #803838 0%, #581616 100%);
    transform: scale(1);
  }
}
